h1 {
    color:rgb(5, 248, 45);
    text-align: center;
    text-decoration-line: line-throughl;
    font-family: "Lucida Handwriting";
    font-size: 300%;
    padding: 10px;
    padding: left 10px;

  }

  h2 {
    color:rgb(235, 14, 14);
    text-align: left;
    text-decoration-line: line-throughl;
    font-family: "Lucida Handwriting";
    font-size: 200%;
    padding: 10px;
    padding: left 10px;

  }
div {
    display: block;
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-style: oblique;
    font-weight: bolder;
    margin: 10px;
  }
  li {
    display: block;
    color:rgb(32, 0, 92);
    font-size: 25px;
    font-style: oblique;
    margin: 5px;
  }
 
  
  body{
    background-image: url(htt);
    background-repeat:no-repeat;
    background-size: 50rem;
  }